apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert['content'] }}
    server: https://127.0.0.1:6443
  name: k8s
contexts:
- context:
    cluster: k8s
    user: system:kube-scheduler
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-scheduler
  user:
    client-certificate-data: {{ kube_scheduler_cert['content'] }}
    client-key-data: {{ kube_scheduler_key['content'] }}