[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/opt/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr={{ cluster_cidr }} \
  --allocate-node-cidrs=true \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file=/etc/kubernetes/tls/ca.pem \
  --cluster-signing-key-file=/etc/kubernetes/tls/ca-key.pem \
  --kubeconfig=/etc/kubernetes/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file=/etc/kubernetes/tls/ca.pem \
  --service-account-private-key-file=/etc/kubernetes/tls/service-account-key.pem \
  --service-cluster-ip-range={{ svc_cluster_ip_cidr }} \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target