[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/opt/bin/kube-apiserver \
  --advertise-address={{ ansible_default_ipv4.address }} \
  --allow-privileged=true \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=/etc/kubernetes/tls/ca.pem \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --etcd-cafile=/etc/kubernetes/tls/ca.pem \
  --etcd-certfile=/etc/kubernetes/tls/kubernetes.pem \
  --etcd-keyfile=/etc/kubernetes/tls/kubernetes-key.pem \
  --etcd-servers=https://127.0.0.1:2379 \
  --event-ttl=1h \
  --encryption-provider-config=/etc/kubernetes/encryption-config.yaml \
  --kubelet-certificate-authority=/etc/kubernetes/tls/ca.pem \
  --kubelet-client-certificate=/etc/kubernetes/tls/kubernetes.pem \
  --kubelet-client-key=/etc/kubernetes/tls/kubernetes-key.pem \
  --runtime-config='api/all=true' \
  --service-account-key-file=/etc/kubernetes/tls/service-account.pem \
  --service-account-signing-key-file=/etc/kubernetes/tls/service-account-key.pem \
  --service-account-issuer=https://{{ kube_api_server }}:6443 \
  --service-cluster-ip-range={{ svc_cluster_ip_cidr }} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/etc/kubernetes/tls/kubernetes.pem \
  --tls-private-key-file=/etc/kubernetes/tls/kubernetes-key.pem \
  --enable-aggregator-routing=true \
  --requestheader-client-ca-file=/etc/kubernetes/tls/front-proxy-ca.pem \
  --requestheader-allowed-names="" \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --proxy-client-cert-file=/etc/kubernetes/tls/front-proxy-client.pem \
  --proxy-client-key-file=/etc/kubernetes/tls/front-proxy-client-key.pem \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target