{% if kubernetes_version is version('1.26', '<') %}
apiVersion: kubescheduler.config.k8s.io/v1beta3
{% else %}
apiVersion: kubescheduler.config.k8s.io/v1
{% endif %}
kind: KubeSchedulerConfiguration
clientConnection:
  kubeconfig: "/etc/kubernetes/kube-scheduler.kubeconfig"
leaderElection:
  leaderElect: true