apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert['content'] }}
    server: https://127.0.0.1:6443
  name: k8s
contexts:
- context:
    cluster: k8s
    user: system:kube-controller-manager
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user:
    client-certificate-data: {{ controller_manager_cert['content'] }}
    client-key-data: {{ controller_manager_key['content']  }}