{
  "id": "flatcar-install",
  "name": "Flatcar Linux install to disk",
  "boot": {
    "kernel": "/assets/flatcar/current/flatcar_production_pxe.vmlinuz",
    "initrd": [
      "/assets/flatcar/current/flatcar_production_pxe_image.cpio.gz"
    ],
    "args": [
      "initrd=flatcar_production_pxe_image.cpio.gz",
      "flatcar.config.url=http://{{ ipxe_server }}:{{ ipxe_port }}/ignition?uuid=${uuid}&mac=${mac:hexhyp}",
      "flatcar.first_boot=yes",
      "flatcar.autologin"
    ]
  },
  "ignition_id": "flatcar-install.ign"
}