stream {
    map $ssl_preread_server_name $upstream {
{% for cluster in kube_clusters %}
        {{ cluster['name'] }}-api.fess.local  {{ cluster['name'] }}-api;
{% endfor %}
    }
{% for cluster in kube_clusters %}
    upstream {{ cluster['name'] }}-api {
{% for host in cluster['api_servers'] %}
        server {{ host }}:6443 max_fails={{ max_fails }} fail_timeout={{ fail_timeout }};
{% endfor %}
    }
{% endfor %}
    server {
        listen 6443; 

        proxy_connect_timeout 1s;

        proxy_pass $upstream;
        ssl_preread on;
    }
}