# dnsmasq.conf

dhcp-range={{ dhcp_range }}

{% for option in dhcp_options %}
dhcp-option={{ option.id }},{{ option.value }}
{% endfor %}

{% for host in dhcp_hosts %}
dhcp-host={{ host.mac }},{{ host.ip }},{{ host.name }},{{ lease_time }}
{% endfor %}

enable-tftp
tftp-root={{ tftp_root }}

# Legacy PXE
dhcp-match=set:bios,option:client-arch,0
dhcp-boot=tag:bios,undionly.kpxe

# UEFI
dhcp-match=set:efi32,option:client-arch,6
dhcp-boot=tag:efi32,ipxe.efi

dhcp-match=set:efibc,option:client-arch,7
dhcp-boot=tag:efibc,ipxe.efi

dhcp-match=set:efi64,option:client-arch,9
dhcp-boot=tag:efi64,ipxe.efi

# iPXE
dhcp-userclass=set:ipxe,iPXE
dhcp-boot=tag:ipxe,http://{{ ipxe_server }}:{{ ipxe_port }}/{{ ipxe_boot_file }}

log-queries
log-dhcp
