cfssl gencert \
  -ca=tmp/ca.pem \
  -ca-key=tmp/ca-key.pem \
  -config=ca-config.json \
  -hostname={{ item }},{{ hostvars[item]['ansible_default_ipv4']['address'] }} \
  -profile=kubernetes \
  tmp/{{ item }}-csr.json | cfssljson -bare tmp/{{ item }}