#jinja2: trim_blocks:False
API_SVC_IP={{ kube_api_server_svc_ip }}
API_SERVER_IP={{ kube_api_server }}
CONTROL_PLANE_NODE_IPS={% for host in groups['control_plane'] %}{{ hostvars[host]['ansible_default_ipv4']['address'] }}{{ "," if not loop.last else "" }}{% endfor %}
KUBERNETES_HOSTNAMES=kubernetes,kubernetes.default,kubernetes.default.svc,kubernetes.default.svc.cluster,kubernetes.svc.cluster.local

cfssl gencert \
  -ca=tmp/ca.pem \
  -ca-key=tmp/ca-key.pem \
  -config=ca-config.json \
  -hostname=${API_SVC_IP},${CONTROL_PLANE_NODE_IPS},${API_SERVER_IP},127.0.0.1,${KUBERNETES_HOSTNAMES} \
  -profile=kubernetes \
  kubernetes-csr.json | cfssljson -bare tmp/kubernetes