[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/opt/bin/etcd \
  --name {{ ansible_hostname }} \
  --cert-file=/etc/kubernetes/tls/kubernetes.pem \
  --key-file=/etc/kubernetes/tls/kubernetes-key.pem \
  --peer-cert-file=/etc/kubernetes/tls/kubernetes.pem \
  --peer-key-file=/etc/kubernetes/tls/kubernetes-key.pem \
  --trusted-ca-file=/etc/kubernetes/tls/ca.pem \
  --peer-trusted-ca-file=/etc/kubernetes/tls/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ ansible_default_ipv4.address }}:2380 \
  --listen-peer-urls https://{{ ansible_default_ipv4.address }}:2380 \
  --listen-client-urls https://{{ ansible_default_ipv4.address }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ ansible_default_ipv4.address }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {% for host in groups['control_plane'] %}{{ host }}=https://{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}:2380{{ "," if not loop.last else "" }}{% endfor %} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target