kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: "/etc/kubernetes/tls/ca.pem"
authorization:
  mode: Webhook
clusterDomain: "{{ cluster_domain }}"
clusterDNS:
  - "{{ cluster_dns_svc_ip }}"
resolvConf: "/run/systemd/resolve/resolv.conf"
runtimeRequestTimeout: "15m"
tlsCertFile: "/etc/kubernetes/tls/{{ inventory_hostname }}.pem"
tlsPrivateKeyFile: "/etc/kubernetes/tls/{{ inventory_hostname }}-key.pem"
cgroupDriver: "systemd"
registerNode: true
serializeImagePulls: false
