apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert['content'] }}
    server: https://{{ kube_api_server }}:6443
  name: k8s
contexts:
- context:
    cluster: k8s
    user: system:kube-proxy
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: system:kube-proxy
  user:
    client-certificate-data: {{ kube_proxy_cert['content'] }}
    client-key-data: {{ kube_proxy_key['content'] }}