apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ ca_cert['content'] }}
    server: https://{{ kube_api_server }}:6443
  name: k8s
contexts:
- context:
    cluster: k8s
    user: system:node:{{ ansible_hostname }}
  name: default
- context:
    cluster: k8s
    user: system:node:{{ ansible_hostname }}
  name: k8s
current-context: default
kind: Config
preferences: {}
users:
- name: system:node:{{ ansible_hostname }}
  user:
    client-certificate-data: {{ kubelet_cert['content'] }}
    client-key-data: {{ kubelet_key['content'] }}