[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
ExecStart=/opt/bin/kubelet \
  --config=/etc/kubelet/kubelet-config.yaml \
  --kubeconfig=/etc/kubelet/kubeconfig \
  --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock \
{% if kubernetes_version is version('1.24', '<') %}
  --container-runtime=remote \
  --network-plugin=cni \
  --cni-conf-dir=/etc/cni/net.d \
  --cni-bin-dir=/opt/cni/bin \
{% endif %}
{% if 'control_plane' in group_names and taint_control_plane %}
  --register-with-taints="node-role.kubernetes.io/control-plane:NoSchedule" \
{% endif %}
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
