---
variant: flatcar
version: 1.0.0
systemd:
  units:
    - name: installer.service
      enabled: true
      contents: |
        [Unit]
        Requires=network-online.target
        After=network-online.target
        [Service]
        Type=simple
        ExecStart=/opt/installer
        [Install]
        WantedBy=multi-user.target
storage:
  files:
    - path: /opt/installer
      mode: 0500
      contents:
        inline: |
          #!/bin/bash -ex
          curl --retry 10 --fail "http://{{ ipxe_server }}:{{ ipxe_port }}/ignition?os=installed" -o ignition.json
          flatcar-install \
            -d /dev/xvda \
            -C stable \
            -V current \
            -b http://{{ ipxe_server }}:{{ ipxe_port }}/assets/flatcar \
            -i ignition.json
          udevadm settle
          systemctl reboot
{% if core_ssh_keys is defined %}
passwd:
  users:
    - name: core
      ssh_authorized_keys:
{% for key in core_ssh_keys %}
        - {{ key }}
{% endfor %}
{% endif %}