---
variant: flatcar
version: 1.0.0
storage:
  files:
    - path: /etc/systemd/network/10-enX-dhcp.network
      contents:
        inline: |
          [Match]
          Name=enX*

          [Network]
          DHCP=yes

          [DHCP]
          UseDomains=yes
{% if core_ssh_keys is defined %}
passwd:
  users:
    - name: core
      ssh_authorized_keys:
{% for key in core_ssh_keys %}
        - {{ key }}
{% endfor %}
{% endif %}