#!ipxe

# Some menu defaults
set menu-timeout 3000
set submenu-timeout ${menu-timeout}
isset ${menu-default} || set menu-default exit

###################### MAIN MENU ####################################

:start
menu iPXE boot menu
item --key x exit             Exit iPXE and continue boot order
item --key m matchbox         Matchbox boot
item --gap --                 ------------------------- Other options ----------------------------------
item shell                    Drop to iPXE shell
item reboot                   Reboot computer

choose --timeout ${menu-timeout} --default ${menu-default} selected
set menu-timeout 0
goto ${selected}

:cancel
echo You cancelled the menu, dropping you to a shell

:shell
echo Type 'exit' to get the back to the menu
shell
set menu-timeout 0
set submenu-timeout 0
goto start

:failed
echo Booting failed, dropping to shell
goto shell

:reboot
reboot

:exit
exit

################### MAIN MENU ITEMS #################################

:flatcar-install
echo Installing Flatcar
kernel /assets/flatcar/current/flatcar_production_pxe.vmlinuz initrd=flatcar_production_pxe_image.cpio.gz flatcar.config.url=http://{{ ipxe_server }}:{{ ipxe_port }}/ignition?uuid=${uuid}&mac=${mac:hexhyp} flatcar.first_boot=yes flatcar.autologin
initrd /assets/flatcar/current/flatcar_production_pxe_image.cpio.gz
boot

:matchbox
chain /ipxe?uuid=${uuid}&mac=${mac:hexhyp}&domain=${domain}&hostname=${hostname}&serial=${serial}